<!--The whole content below can be removed with the new code.-->

<!-- Enabled purely for debugging purposes -->
the question is: {{questionInfo | json}}
<!-- -->

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h3>Current Score: {{score}}</h3>
  <h3 *ngIf="flash">{{flash}}</h3>
</div>

<div class="questionDetails">
  <h3>Here's your answer: {{ questionInfo?.question }}</h3>
  <p><strong>Category:</strong> {{ questionInfo?.category.title }}</p>
  <p><strong>Point Value:</strong> {{ questionInfo?.value }} </p>
  <input type="text" [(ngModel)]="question" >
  <button (click)="submitQuestion(question)">Submit question</button>
</div>
